#sharebuttons
  /%span{:class=>'st_googleplus_large',:displayText=>'Google +'}
  %span{:class=>'st_facebook_large', :displayText=>'Facebook'}       
  %span{:class=>'st_twitter_large', :displayText=>'Tweet'}      
  %span{:class=>'st_linkedin_large', :displayText=>'LinkedIn'}      
