.intro
  %h2.content
    MeetMer briefly
    = render "layouts/shared/sharebuttons"
  
  #meetmer_float_right
  %p.fancy-narrow
    %b #MeetMer
    is simple dashboard-ish application written with Ruby on Rails. The primary purpose of
    %b #MeetMer
    dashboard is to help
    %b
      %a{:href =>'http://merproject.org/'}#Mer
    project contributors and other stakeholders monitor their performance and activities.


  %p 
    %b #MeetMer 
    project was started in July 2012 by newbi developer (kyyberi) who was involved in MeeGo community building in Finland. 
  
  %p MeeGo was killed early 2011 and buried (some say it was converted to Tizen), but community had started to go own way even before that and 'returned' to Mer -project. Now companies such as JollaMobile are building their products on Mer core. 
  %p Community lacked dashboard and kyyberi took the challenge in July 2012 and continues as lead developer with the help of community.   

