.intro
  %h2.content
    Background
  %p This project was started by newbi developer (kyyberi) who was involved in MeeGo community building in Finland. 
  %p MeeGo was killed early 2011 and buried (some say it was converted to Tizen), but community had started to go own way even before that and 'returned' to Mer -project. Now JollaMobile is building their products on Mer core. 
  %p Community lacked dashboard and kyyberi took the challenge in July 2012 and continues as lead developer with the help of community.   

