.intro
  %h2.content
    MeetMer Functionality & Features
  %ul
    %li Lists community meetings (by months and 10 latest)
    %li You can read from each meeting: meeting minutes and complite discussion. 
    %li Lists Mer core packages. We have implemented filter to the listing to enable faster package search. 
    %li Browse bugs (including comments)
    %li Browse QA reports
    %li Browse releases
  %h3 Stores metadata
  %p MeetMer stores metadata from several sources and retrieves actual content at on request. On request refers to for example situations where user wants to read content of meeting minute file.  
  %h3 More features?  
  %p More features are implemented all the time and contributions are always welcome. 
  
