.intro
  %h2.content
    MeetMer is open source
  %p Code is in Github. Clone, develop and contribute!
  %p 
    %a{:href=> 'https://github.com/kyyberi/Meet-Mer/'}https://github.com/kyyberi/Meet-Mer/
  %h3 Missing native UX? - contribute by translating
  %p 
    Internationalization and localization are managed at
    %a{:href=> 'https://www.transifex.com/projects/p/meetmer/'}Transifex
