.intro
  %h2.content
    MeetMer is open source
  %p Code is in Github. Clone, develop and contribute!
  %p 
    %a{:href=> 'https://github.com/kyyberi/Meet-Mer/'}https://github.com/kyyberi/Meet-Mer/
