%div{:style =>"clear:both;"}
.intro
  %h2.content
    Github
  %p Code in Github. 

.intro
  %h2.content
    Contribute
  %p You can contribute to MeetMer in different ways: submit bugs reports, develop features, 

.intro
  %h2.content
    Github
  %p Code in Github.
