.intro
  %h2.content
    Purpose
  %p MeetMer is simple dashboard-ish application written with Ruby on Rails. The primary purpose of MeetMer dashboard is to help contributors and other stakeholders monitor their performance and activities.
