.intro
  %h2.content
    MeetMer Purpose - support Mer development
  #mer_float_right
  %p
    %b #MeetMer
    is simple dashboard-ish application written with Ruby on Rails. The primary purpose of
    %b #MeetMer
    dashboard is to help
    %b 
      %a{:href =>'http://merproject.org/'}#Mer
    project contributors and other stakeholders monitor their performance and activities.


  %p.fancy-narrow 
    What 
    %b 
      %a{:href =>'http://merproject.org/'}#Mer project 
    is trying to establish is a common, streamlined Linux/Qt core for others to build on top of. For end users, this is horribly boring - the code on it's own would just show a blinking cursor/a xterm/a qml demo

  %p A vendor, in our view, is someone who takes the core, mixes it with their own bits, makes it into some kind of a product. As an example this could be Plasma Active user experience, taking the core, some hardware adaptations and their own UX. It could be a small business that makes bus displays. It could be a hobbyist at home who doesn't want to bother making his own distribution and just want to show a clock on his LCD. 
  %p But we're not the people who deliver the final experience.
  %p 
    %b Mer project has clear goals:
    %ul
      %li Openly developed with transparency built into the fabric of the project
      %li Provide a mobile device oriented architecture
      %li Primary customers are device vendors - not end-users.
      %li Have structure, processes and tools to make life easy for device manufacturers
      %li Support innovation in the mobile OS space
      %li Inclusive of projects and technologies (eg MeeGo/Tizen/Qt/EFL/HTML5)
      %li Governed as a meritocracy
      %li Run as a non profit through donations
