#leftcolumnwrap
  #leftcolumn
    .container
      %h2.acc_trigger
        %a{:href=>"#"} MerMeet Tweets
    %div{:class => 'acc_container_tweets'}
      .block_tweets
        #tweets

= render "background"
= render "purpose"
= render "functionality"
= render "github"

