- content_for(:head) do
  %title
    :escaped
      #MeetMer: #Mer Dashboard - Briefly, Purpose, Features and Functionality

#leftcolumnwrap
  #leftcolumn
    .container
      %h2.acc_trigger
        %a{:href=>"#"} #MeetMer Tweets
    %div{:class => 'acc_container_tweets'}
      .block_tweets
        #tweets
          %p{:id =>'tweetinit'} If you enable Javascript, tweets will appear here.


= render "background"
= render "purpose"
= render "functionality"
= render "github"

