table {
    /*border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 98%;    
    font-size:0.8em;
	margin-right:25px;
}

.bordered {
/*
    border: solid #ccc 0px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
*/
}

.bordered tr:hover {
    background: #e7e7e7;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 8px;
    text-align: left;    
}

.bordered th {
    background-color: #1e748c;
background-image:url('mer-logo-bg-dark.png');
/*    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);

    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
*/
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.2); 
	color:#fff;
    border-right: 0px solid #ccc;
    font-weight:bold;

}

.bordered td:first-child, .bordered th:first-child {
    border-left: solid 1px #ccc;
}



.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    border-left:none;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
    border-bottom: solid 1px #ccc;
}

.bordered tr:last-child{
    border-bottom: solid 1px #ccc;
}


td.title {
	width:300px;
	font-weight:bold;
}

.bordered a {
	color:#21631c;
}

.bordered a:hover {
        color:#5e1c63;
}

/* ##### Package listing table ##### */

th.packagename {
	width:30%;
}

th.packagenro {
	width:3%;
}
th.packageversion {
        width:10%;
}
th.packagegit {

}

#jsPageSearch {
	display:none;
}

td.btitle {
	width:60%;
}

td.btitle a{
	line-height:1.5em;
}


td.bupdated {
	width:20%;
}

td.bpriority{
	width:10%;
}
td.severity{
	width:10%;
}

table.bordered thead tr .headerSortUp {
	background-image: url(asc.gif);
	background-repeat:no-repeat;
	background-position:top right;
}
table.bordered thead tr .headerSortDown {
	background-image: url(desc.gif);
	background-repeat:no-repeat;
	background-position:top right;
}


table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
